# /etc/systemd/system/report-log-watcher.service

[Unit]
Description=Service to report abusers to risk.oxl.app
Documentation=https://github.com/O-X-L/risk-db

[Service]
Type=simple
ExecStart=/usr/local/bin/abuse_report_<APP>.sh /var/log/<TARGET LOG FILE>

User=abuse-reporter
Group=abuse-reporter

StandardOutput=journal
StandardError=journal
SyslogIdentifier=abuse-reporter

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target